<!DOCTYPE html>
<html>
    <head>
        <title>Welcome PAge</title>
    </head>
    <body>
        <h1>Landing Page</h1>
        <hr/>
        <h1><%= JSON.stringify(identity)%></h1>
    </hr>
    </body>
</html>